/* cards_home */

.cards_home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  cursor: pointer;

  img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  #text_01 {
    font-size: 18px;
    color: #111;
    margin-bottom: 5px;
  }

  #text_02 {
    font-size: 14px;
    color: #777;
  }
}
