/* chef */

.chef {
  width: 940px;
  height: 366px;
  background-color: #fbdfdb;
  border: 1px solid #fbdfdb;
  border-radius: 30px;
  margin-bottom: 98px;

  img {
    float: right;
    padding-right: 100px;
    padding-top: 66px;
  }

  .chef_text {
    display: block;

    h2 {
      font-size: 32px;
      max-width: 305px;
      max-height: 38px;
      margin-right: 117px;
      margin-bottom: 10px;
      margin-top: 117px;
      margin-left: 60px;
    }

     p {
      font-size: 18px;
      font-weight: normal;
      max-width: 316px;
      max-height: 84px;
      margin-right: 564px;
      margin-bottom: 10px;
      margin-left: 60px;
      opacity: 0.7;
    }
  }
}
