@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

#container {
  max-width: 940px;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 36px;
}

.logo img {
  width: 90.6px;
  height: 26.9px;
  padding-top: 36.1px;
}

.menu a {
  font-size: 18px;
  color: #111;
}

.link {
  margin-left: 112px;
  padding-top: 38px;
}

.link a {
  padding-right: 30px;
}

.chef {
  width: 940px;
  height: 366px;
  background-color: #fbdfdb;
  border: 1px solid #fbdfdb;
  border-radius: 30px;
}

.chef img {
  float: right;
  padding-right: 100px;
  padding-top: 66px;
}

.chef .chef_text {
  display: block;
}

.chef .chef_text h2 {
  font-size: 32px;
  max-width: 305px;
  max-height: 38px;
  margin-right: 117px;
  margin-bottom: 10px;
  margin-top: 117px;
  margin-left: 60px;
}

.chef .chef_text p {
  font-size: 18px;
  font-weight: normal;
  max-width: 316px;
  max-height: 84px;
  margin-right: 564px;
  margin-bottom: 10px;
  margin-left: 60px;
  opacity: 0.7;
}

.info h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #111;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#text_01 {
  font-size: 18px;
  color: #111;
  margin-bottom: 5px;
}

#text_02 {
  font-size: 14px;
  color: #777777;
}

footer {
  margin-top: 50px;
  height: 62px;
  width: 100%px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  font-size: 14px;
  color: #999;
}

/* SOBRE */

.description {
  margin-top: 50px;
}

.description span {
  font-size: 18px;
  color: #444;
  line-height: 28px;
}

.about h2 {
  font-size: 24px;
  color: #111;
  margin-bottom: 20px;
}

.start h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* modal */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: #fff;
  width: 660px;
  height: 413px;
  margin: 25vh auto;
  position: relative;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-content img {
  height: 200px;
  width: 600px;
  border-radius: 15px;
}

.modal-content #text_01 {
  font-size: 24px;
  color: #111;
}

.modal-content #text_02 {
  font-size: 18px;
  color: #777777;
  margin-bottom: 60px;
}

.modal .close-modal {
  font-size: 16px;
  color: #999999;
  cursor: pointer;
}

/* modal active */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
