@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.menu img {
  padding-top: 36px;
  padding-right: 122px;
  width: 90px;
  height: 26px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu a {
  padding-top: 38px;
  padding-right: 30px;
  font-size: 16px;
  color: #111;
}

.chef {
  width: 940px;
  height: 366px;
  margin-top: 36px;
  background-color: #fbdfdb;
  border: 1px solid #fbdfdb;
  border-radius: 30px;
}

.chef img {
  float: right;
  padding-right: 100px;
  padding-top: 66px;
}

.chef .chef_text {
  display: block;
}

.chef .chef_text h2 {
  font-size: 32px;
  max-width: 305px;
  max-height: 38px;
  margin-right: 117px;
  margin-bottom: 10px;
  margin-top: 117px;
  margin-left: 60px;
}

.chef .chef_text p {
  font-size: 18px;
  font-weight: normal;
  max-width: 316px;
  max-height: 84px;
  margin-right: 564px;
  margin-bottom: 10px;
  margin-left: 60px;
  opacity: 0.7;
}
