.header_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 940px;

  margin-bottom: 36px;

  .logo {
    padding-top: 36.1px;
  }

  a {
    font-size: 18px;
    color: #111;
  }

  .links {
    margin-left: 112px;
    padding-top: 38px;

    a + a {
      padding-left: 30px;
    }

    :last-child {
      margin-left: 450px;
    }
  }
}
