{% extends "layout.njk" %}
{% block content %}
  <section class="details">
    <img src="{{ receita.image }}" alt="Imagem de {{ receita.title }}"/>
    <div class="text">
      <h3>{{ receita.title }}</h3>
      <p>por
        {{ receita.author }}</p>
    </div>
  </section>
  <section class="list">
    <div id="list_text">
      <h3>Ingredientes</h3>
      <p id="button_01">ESCONDER</p>
    </div>
    <div class="list_itens" id="visible_01">
      <li>{{ receita.ingredients }}</li>
    </div>
    <div id="list_text">
      <h3>Modo de preparo</h3>
      <p id="button_02">ESCONDER</p>
    </div>
    <div class="list_itens" id="visible_02">
      <span>
        {{ receita.preparation }}
      </span>
    </div>
    <div id="list_text">
      <h3>Informações adicionais</h3>
      <p id="button_03">ESCONDER</p>
    </div>
    <div class="list_itens" id="visible_03">
      <span>
        {{ receita.information }}
      </span>
    </div>
  </section>
  <script src="/javascripts/script.js"></script>
{% endblock %}
