/* menu_admin */

.menu_admin {
  background-color: #111;
  height: 80px;
}

.menu_admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo_admin {
  margin: 0 auto;
  width: 940px;
}

.menu_admin .logo_admin img {
  height: 26.9px;
  width: 90.6px;
}

/* buttons */

.buttons {
  display: flex;
  margin-top: 50px;
}

.buttons button {
  font-size: 16px;
  color: #fff;
  text-align: right;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete {
  width: 92px;
  height: 37px;
  background-color: #dc4747;
}

#save {
  width: 139px;
  height: 37px;
  background-color: #6558c3;
}

/* cards_admin */

.cards_admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.card_admin img {
  width: 172px;
  height: 80px;
  border-radius: 8px;
}

.card_admin {
  display: flex;
  align-items: center;
}

.card_admin .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.cards_admin #text_01 {
  font-size: 18px;
  color: #111;
  margin-bottom: 5px;
}

.cards_admin #text_02 {
  font-size: 14px;
  color: #777;
}

.cards_admin a {
  margin-top: 10px;
  font-size: 14px;
  color: #6558c3;
  font-weight: bold;
}

/* form */

.form .form_item_title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.form_item div {
  color: #111;
  font-weight: bold;
}

.form_save {
  margin-top: 20px;
}

input {
  font-size: 16px;
  color: #111;
  line-height: 24px;
}

input::placeholder {
  font-size: 16px;
  color: #111;
}

.form .form_item input {
  width: 900px;
  height: 49px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.form_item_input + div {
  margin-top: 10px;
}

.form_item .form_add_item {
  margin-top: 15px;
}

.form_item .form_add_item span {
  color: #6558c3;
  text-align: right;
}

textarea {
  resize: none;
  font-size: 16px;
  color: #111;
}

textarea::placeholder {
  resize: none;
  font-size: 16px;
  color: #111;
}

.form_item .info textarea {
  height: 257px;
  width: 940px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
