<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="styles/index.css"/>
    <link rel="icon" href="/assets/food.ico" type="image/x-icon"/>
    <title>Foodfy</title>
  </head>
  <body>
    <main class="main_container">
      <header>
        <div class="header_menu">
          <div class="logo">
            <a href="/">
              <img src="/assets/logo.png" alt="logo"/>
            </a>
          </div>
          <div class="links">
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
            <a style="margin-left: 450px" href="/admin/recipes">Admin</a>
          </div>
        </div>
      </header>
      {% block content %}{% endblock %}
      <footer>
        <span>
          Todos direitos reservados, receitas Foodfy.
        </span>
      </footer>
    </main>
    <script src="/js/script.js"></script>
  </body>
</html>
