/* main_container */

.adminMain_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .admin_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 940px;

    h1 {
      font-size: 24px;
      color: #111;
      margin-top: 55px;
      margin-bottom: 30px;
    }
  }
  ._edit h1 {
    margin-bottom: 0px;
  }
  ._create h1 {
    margin-bottom: 0px;
  }
}
