/* menu_admin */

.menu_admin {
  background-color: #111;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo_admin {
  margin: 0 auto;
  width: 940px;

  img {
    height: 26.9px;
    width: 90.6px;
  }
}
