{% extends "admin/layout.njk" %}
{% block content %}
  <form method="post" action="/admin/recipes">
    <div class="admin_title _create">
      <h1>Criando receita</h1>
      <div class="buttons">
        <button type="submit" id="save">Salvar receita</button>
      </div>
    </div>
    {% include "admin/fields.njk" %}
  </form>
{% endblock %}
