{% extends "admin/layout.njk" %}
{% block content %}
  <div class="admin_title _edit">
    <h1>Editando receita</h1>
    <div class="buttons">
      <form id="form_delete" action="/admin/recipes?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{recipes.id}}">
        <button id="delete">Deletar</button>
      </form>
    </div>
  </div>
  <div class="form_save buttons">
    <form action="/admin/recipes?_method=PUT" method="POST">
      <input type="hidden" name="id" value="{{recipes.id}}">
      <button id="save">Salvar receita</button>
      {% include "admin/fields.njk" %}
    </form>
  </div>
  <script src="/js/admin.js"></script>
{% endblock %}
