<section class="form">
  <div class="form_item">
    <div class="form_item_title">Nome da Receita</div>
    <div class="form_item_input">
      <input type="text" name="title" placeholder="Nome da receita" value="{{recipes.title}}"/>
    </div>
  </div>
  <div class="form_item">
    <div class="form_item_title">Nome do Autor</div>
    <div class="form_item_input">
      <input type="text" name="author" placeholder="Nome do autor da receita" value="{{recipes.author}}"/>
    </div>
  </div>
  <div class="form_item">
    <div class="form_item_title">Imagem da receita</div>
    <div class="form_item_input">
      <input type="url" name="image" placeholder="Link da imagem da EX: https://" value="{{recipes.image}}"/>
    </div>
  </div>
  <div class="form_item">
    <div class="form_item_title">Ingredientes</div>
    {% for ingredient in recipes.ingredients%}
      <div class="form_item_input">
        <input type="text" name="ingredients" placeholder="Ingredientes " value="{{ingredient}}"/>
      </div>
    {% endfor %}
    <div class="form_item_input">
      <input type="text" name="ingredients" placeholder="Ingredientes " value="{{recipes.ingredients}}"/>
    </div>
    <div id="box"></div>
    <div class="form_add_item">
      <a id="button_add_ingredient">Adicionar novo ingrediente</a>
    </div>
  </div>
  <div class="form_item">
    <div class="form_item_title">Modo de preparo</div>
    {% for preparation in recipes.preparation%}
      <div class="form_item_input">
        <input type="text" name="preparation" placeholder="Preparação" value="{{preparation}}"/>
      </div>
    {% endfor %}
    <div class="form_item_input">
      <input type="text" name="preparation" placeholder="Preparação" value="{{recipes.preparation}}"/>
    </div>
  </div>
  <div class="form_item">
    <div class="form_item_title">Informações adicionais</div>
    <div class="form_item_input info">
      <textarea class="info" wrap="soft" name="information">
        {{ recipes.information }}
      </textarea>
    </div>
  </div>
</section>
