{% extends "admin/layout.njk" %}
{% block content %}
  <div class="title">
    <h1>Gerenciar receitas</h1>
  </div>
  <section class="cards_admin">
    {% for item in recipes %}
      <div class="card_admin">
        <img src="{{ item.image }}" alt="Imagem de {{item.title}}"/>
        <div class="text">
          <span id="text_01">{{ item.title }}</span>
          <span id="text_02">por
            {{item.author}}</span>
          <a href="recipes/{{item.id}}">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
