<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles/global.css"/>
    <link rel="stylesheet" href="/styles/admin/style.css">
    <link rel="icon" href="/assets/food.ico" type="image/x-icon"/>
    {% block head %}
      <title>Foodfy - Admin</title>
    {%endblock %}
  </head>
  <body>
    <header>
      <div class="menu_admin">
        <div class="logo_admin">
          <a href="/admin/recipes">
            <img src="/assets/logo_02.png" alt="logo"/>
          </a>
        </div>
      </div>
    </header>
    <main class="main_container">
      {% block content %}{% endblock %}
    </main>
    <script src="/js/admin.js"></script>
  </body>
</html>
