.chef {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 940px;
  height: 366px;

  background-color: #fbdfdb;

  border: 1px solid #fbdfdb;

  border-radius: 30px;
  margin-bottom: 98px;

  .chef_img {
    width: 215px;
    height: 300px;

    margin-top: 66px;
    margin-right: 100px;
  }

  .chef_text {
    height: 110px;

    margin-bottom: 10px;
    margin-left: 60px;

    h2 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
      margin-top: 10px;
      opacity: 0.7;
    }
  }
}
